.container-background {
    background-image: url("../sachs_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.main-content {
    background-color: white;
}
