.container-background {
    background-image: $background-image;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.main-content {
    background-color: white;
}

.card-img {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
