@import "variables";

.container-background {
    background-image: $background-image;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.main-content {
    background-color: white;
}
.index-container {
    background-color: white;
}

.card-img {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    border-radius: 10%;
}

.presenter__img {
    background-color: white;
}
.banner-container {
    padding-top: 25px;
}
