@import "variables";

.main-content {
    max-width: 768px;
    padding-top: 0 !important;
}

body {
    margin-top: -25px;
    padding-top: 0;
}
.timetable-card {
    margin-left: -15px;
    margin-right: -15px;
}

.timetable__card-general {
    background-color: $color__card-general;

    &:hover {
        background-color: lighten($color: $color__card-general, $amount: 15%);
    }
}
.timetable__card-speech {
    background-color: $color__card-speech;

    &:hover {
        background-color: lighten($color: $color__card-speech, $amount: 15%);
    }
}
.timetable__card-panel {
    background-color: $color__card-panel;

    &:hover {
        background-color: lighten($color: $color__card-panel, $amount: 15%);
    }
}

.timetable__card-pr {
    background-color: $color__card-pr;

    &:hover {
        background-color: lighten($color: $color__card-pr, $amount: 15%);
    }
}

.timetable__card-prL {
    background-color: $color__card-prL;
    color: black !important;

    &:hover {
        background-color: lighten($color: $color__card-prL, $amount: 15%);
        color: white !important;
    }
}

.timetable__card-prR {
    background-color: $color__card-prR;
    // color: white;

    &:hover {
        background-color: lighten($color: $color__card-prR, $amount: 15%);
        text-decoration: none !important;
    }
}

.timetable__list .card {
    border-radius: 0 !important;
}
.timetable__card-panel :hover {
    cursor: pointer;
}
.timetable__card-prL {
    height: 100%;

    :hover {
        cursor: pointer;
    }
}
.timetable__card-prR {
    height: 100%;

    :hover {
        cursor: pointer;
    }
}

.presenters__track-c {
    height: 50%;
}

.footer__sponsors {
    background-color: white;
    // margin-top: -16px;
    max-width: 100%;
    margin-left: 0;
}
.main__sponsor {
    // margin-left: 4rem;
    height: 100%;
    min-width: 250px;
}
.other__sponsors {
    border-left: 1px solid lightgrey;
    // margin-right: 4rem;
}
.bronze__sponsor-container {
    margin-top: 1rem;
}
.other__sponsor-container {
    max-height: 250px;
}
.bronze__sponsor-img {
    margin-top: 15%;
}
.modal-header img {
    max-width: 95%;
}

.card {
    border: none;
}

.PRTRACK__A {
    background-color: $color__darkPurple !important;
}
.PRTRACK__B {
    background-color: $color__darkBlue !important;
}
.timetable__card-breakfast {
    background-color: $color__darkBlue !important;
    color: white;
}
.timetable__card-breakfast h5 {
    color: white;
}
.timetable__card-breakfast p {
    color: white !important;
}
.timetable__dark-purple {
    background-color: $color__darkPurple !important;
}
.timetable__keynote {
    background-color: #ae3e97 !important;
}
.timetable__dark-purple h5 {
    color: white;
}
.timetable__dark-purple p {
    color: white !important;
}

.timetable_lightPink {
    background-color: $color__lightPink !important;
}
.timetable_lightPink {
    background-color: $color__lightPinkSub !important;
}

.timetable__card-breakfast {
    border-radius: 0 !important;
}

.sponsors__purple-background {
    background-color: $color__darkPurple !important;
    color: white !important;
}
.first__sponsor-container {
    padding-top: 20px;
}
.index__wifi-info {
    background-color: $color__darkPurple;
    color: white;
}
#id01 :hover {
    background-color: lighten($color: #410f57, $amount: 25%);
}

.sticky-search-box {
    position: sticky;
    z-index: 100;
    top: 2rem;
    right: 2rem;
    left: 2rem;
}
