@import "variables";

.index__page-headings {
    color: $color__page-headings;
    text-transform: uppercase;
}

.index__header-medium {
    font-size: $font__heading-medium;
    font-weight: $font__weight-xmedium;
}

.index__header-large {
    font-size: $font__heading-large;
    font-weight: $font__weight-bold;
}

.index__header-small {
    font-size: $font__heading-small;
    font-weight: $font__weight-thin;
    color: $color__page-headings;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 0;
    line-height: 15px;
}

.remove-margin-bot {
    margin-bottom: 0;
    padding-bottom: 0;
}

.index__first-lines {
    padding-top: 25px;
}

.header-link {
    text-transform: lowercase !important;
}

.in-text-link {
    color: $color__page-headings;
}

.section__headings {
    text-align: center;
    font-size: $font__size-headings;
    font-weight: $font__weight-thick;
    text-transform: uppercase;
}

.supporter__muted-text {
    color: $color__gray;

    &:hover {
        color: $color__tomato;
    }
}

.person__card-company {
    background-color: $color__tomato;
    line-height: 2;
    color: $color__white;
}

.non-opaque-person {
    background-color: $color__white;
    opacity: 1;
}
.person__card-info {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
