$font__heading-small: 1rem;
$font__heading-medium: 1.5rem;
$font__heading-large: 1.8rem;

// colors
$color__tomato: tomato;
$color__black: black;
$color__gray: gray;
$color__white: white;
$color__violet: mediumvioletred;
$color__pink: violet;
$color__blue: lightblue;

$color__tea-green: #d1ffc6;
$color__pale-spring: #eee5bf;
$color__pale-silver: #d3c1c3;
$color__dust-storm: #e2d0be;
$color__spring_bud: #e8f8c1;

$color__card-general: $color__pale-spring;
$color__card-speech: $color__tea-green;
$color__card-panel: $color__dust-storm;
$color__card-pr: $color__pink;
$color__card-prL: $color__pink;
$color__card-prR: $color__blue;

// font sizes:

$font__size-xsmall: 0.8rem;
$font__size-small: 1rem;
$font__size-xmedium: 1.2rem;
$font__size-medium: 1.5rem;
$font__size-large: 1.8rem;

// font weights

$font__weight-thin: 300;
$font__weight-medium: 500;
$font__weight-xmedium: 550;
$font__weight-thick: 600;
$font__weight-bold: 650;

$color__page-headings: $color__tomato;
$color__page-text: $color__black;

$font__size-headings: $font__size-medium;

// images

$background-image: url("../sachs_background.jpg");
