.index__page-headings {
  color: #410f57;
  text-transform: uppercase;
}

.index__header-medium {
  font-size: 1.5rem;
  font-weight: 550;
}

.index__header-xmedium {
  font-weight: 550;
  font-size: 1.2rem;
}

.index__header-large {
  font-size: 1.8rem;
  font-weight: 650;
}

.index__header-small {
  font-size: 1rem;
  font-weight: 300;
  color: #410f57;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  line-height: 15px;
}

.remove-margin-bot {
  margin-bottom: 0;
  padding-bottom: 0;
}

.index__first-lines {
  padding-top: 25px;
}

.header-link {
  text-transform: lowercase !important;
}

.in-text-link {
  color: #410f57;
}

.section__headings {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.supporter__muted-text {
  color: gray;
}

.supporter__muted-text:hover {
  color: tomato;
}

.person__card-company {
  background-color: #410f57;
  line-height: 2;
  color: white !important;
}

.non-opaque-person {
  background-color: white;
  opacity: 1;
}

.person__card-info {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  color: black !important;
}

.presenter__left-text {
  margin-left: 1rem;
}

.presenter__left-title {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.presenter__left-subtitle {
  font-size: 0.8rem;
}

.presenter__capitalize {
  text-transform: capitalize;
}

.presenter__right-title {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1rem;
  color: #410f57;
}

.timetable__modal-button {
  color: gray;
  -webkit-text-decoration: underline tomato;
          text-decoration: underline tomato;
}

.timetable__modal-button:hover {
  -webkit-text-decoration: underline #c71e00;
          text-decoration: underline #c71e00;
  color: #404040;
}

.timetable__text-italic {
  font-style: italic;
}

.timetable__split-pr {
  font-size: 0.8rem;
}

.timetable__no-break {
  white-space: nowrap;
}

.timetable__split-pr h6 {
  overflow: hidden;
  max-height: 45px;
}

.timetable__split-pr p {
  overflow: auto;
  max-height: 100px;
  font-size: 0.8rem;
}

.card__text-bold {
  font-weight: 550;
  color: black;
}

.card h5 {
  color: black;
}

.bronze__sponsor-container {
  font-weight: 550;
}

.other__sponsor-container {
  font-weight: 550;
}

.other__sponsors {
  text-align: center;
}

.main__sponsor {
  text-align: center;
}

.pr_timetable-white h5,
.pr_timetable-white p {
  color: white !important;
}

.pr_timetable-white h6 {
  color: #d9d9d9 !important;
}

.timetable__card-speech p {
  color: black !important;
}

.timetable__card-panel p {
  color: black !important;
}

.person__card-text {
  color: black !important;
}

.person__card-text p {
  color: black !important;
}

.timetable__list a:hover {
  text-decoration: none;
}

.purple__hyper-link {
  text-decoration: none;
  color: #410f57;
}

.purple__hyper-link :hover {
  color: #100416;
  text-decoration: none !important;
}

.main-content {
  max-width: 760px;
  padding-top: 0 !important;
}

body {
  margin-top: -25px;
  padding-top: 0;
}

.timetable-card {
  margin-left: -15px;
  margin-right: -15px;
}

.timetable__card-general {
  background-color: #eee5bf;
}

.timetable__card-general:hover {
  background-color: #fefefb;
}

.timetable__card-speech {
  background-color: #d1ffc6;
}

.timetable__card-speech:hover {
  background-color: white;
}

.timetable__card-panel {
  background-color: #e2d0be;
}

.timetable__card-panel:hover {
  background-color: #faf6f3;
}

.timetable__card-pr {
  background-color: #955187;
}

.timetable__card-pr:hover {
  background-color: #b77bab;
}

.timetable__card-prL {
  background-color: #955187;
}

.timetable__card-prL:hover {
  background-color: #b77bab;
}

.timetable__card-prR {
  background-color: #1d4995;
}

.timetable__card-prR:hover {
  background-color: #2968d5;
  text-decoration: none !important;
}

.timetable__list .card {
  border-radius: 0 !important;
}

.timetable__card-panel :hover {
  cursor: pointer;
}

.timetable__card-prL {
  height: 100%;
}

.timetable__card-prL :hover {
  cursor: pointer;
}

.timetable__card-prR {
  height: 100%;
}

.timetable__card-prR :hover {
  cursor: pointer;
}

.presenters__track-c {
  height: 50%;
}

.footer__sponsors {
  background-color: white;
  max-width: 100%;
  margin-left: 0;
}

.main__sponsor {
  height: 100%;
  min-width: 250px;
}

.other__sponsors {
  border-left: 1px solid lightgrey;
}

.bronze__sponsor-container {
  margin-top: 1rem;
}

.other__sponsor-container {
  max-height: 250px;
}

.bronze__sponsor-img {
  margin-top: 15%;
}

.modal-header img {
  max-width: 95%;
}

.card {
  border: none;
}

.PRTRACK__A {
  background-color: #410f57 !important;
}

.PRTRACK__B {
  background-color: #0b1d6f !important;
}

.timetable__card-breakfast {
  background-color: #0b1d6f !important;
  color: white;
}

.timetable__card-breakfast h5 {
  color: white;
}

.timetable__card-breakfast p {
  color: white !important;
}

.timetable__dark-purple {
  background-color: #410f57 !important;
}

.timetable__dark-purple h5 {
  color: white;
}

.timetable__dark-purple p {
  color: white !important;
}

.timetable_lightPink {
  background-color: #fef5f9 !important;
}

.timetable_lightPink {
  background-color: #f0e5f1 !important;
}

.timetable__card-breakfast {
  border-radius: 0 !important;
}

.sponsors__purple-background {
  background-color: #410f57 !important;
  color: white !important;
}

.first__sponsor-container {
  padding-top: 20px;
}

.index__wifi-info {
  background-color: #410f57;
  color: white;
}

.container-background {
  background-image: url(/images/sachs_background.jpg?21dd923ec4918d1e2b494671616c30b9);
  background-size: cover;
  background-attachment: fixed;
}

.main-content {
  background-color: white;
}

.index-container {
  background-color: white;
}

.card-img-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  border-radius: 10%;
}

.presenter__img {
  background-color: white;
}

.banner-container {
  padding-top: 25px;
}

