.index__page-headings {
  color: tomato;
  text-transform: uppercase;
}

.index__header-medium {
  font-size: 1.5rem;
  font-weight: 550;
}

.index__header-large {
  font-size: 1.8rem;
  font-weight: 650;
}

.index__header-small {
  font-size: 1rem;
  font-weight: 300;
  color: tomato;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  line-height: 15px;
}

.remove-margin-bot {
  margin-bottom: 0;
  padding-bottom: 0;
}

.index__first-lines {
  padding-top: 25px;
}

.header-link {
  text-transform: lowercase !important;
}

.in-text-link {
  color: tomato;
}

.section__headings {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.supporter__muted-text {
  color: gray;
}

.supporter__muted-text:hover {
  color: tomato;
}

.person__card-company {
  background-color: tomato;
  line-height: 2;
  color: white;
}

.non-opaque-person {
  background-color: white;
  opacity: 1;
}

.person__card-info {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.presenter__left-title {
  font-weight: 550;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.presenter__left-subtitle {
  font-size: 0.8rem;
}

.presenter__capitalize {
  text-transform: capitalize;
}

.presenter__right-title {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 1rem;
  color: tomato;
}

.main-content {
  max-width: 760px;
  padding-top: 0 !important;
}

body {
  margin-top: -25px;
  padding-top: 0;
}

.container-background {
  background-image: url(/images/sachs_background.jpg?21dd923ec4918d1e2b494671616c30b9);
  background-size: cover;
  background-attachment: fixed;
}

.main-content {
  background-color: white;
}

.card-img {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  border-radius: 10%;
}

.presenter__img {
  background-color: white;
}

